
body{
  text-align: center;
  font-size: 20px;
}
.box{
  /* border:red solid 1px; */
  display: flex; 
  justify-content: center;  
  align-items: stretch; 
  padding: 10px;  
  flex-direction: column;  
  margin: 20px auto;    
  width: 70%;
  min-width: 620px;
  max-width: 620px;
  border-radius: 4px;  
  box-shadow: 0 0 4px 2px rgb(168, 168, 168);
}
/* title */
.title{
  display: flex;
  flex-direction: row;
  min-width: 620px;
  max-width: 620px;
  border-radius: 4px;  
  box-shadow: 0 0 4px 2px rgb(168, 168, 168);
  margin: 0px auto 10px;
  padding: 8px;
  justify-content: center;
}





